[core]
	autocrlf = input
	pager = /usr/share/vim/vim73/macros/less.sh
[user]
	name = Branden Rolston
	email = brolston@gmail.com
[github]
	user = branden
[alias]
	ci = commit
	co = checkout
[branch]
	autosetuprebase = always
