[core]
	autocrlf = input
	pager = vimpager
	excludesfile = ~/.gitignore
[user]
	name = Branden Rolston
	email = brolston@gmail.com
[github]
	user = branden
[alias]
	ci = commit
	co = checkout
[branch]
	autosetuprebase = always
